# files in root
.vscode/
.git
.gitignore
.dockerignore
.eslint*
jest.config.js
todo.js

# file wildcards
*.md
*.sqlite
*Dockerfile
*docker-compose*.yml
*.log

# directories
**node_modules
# **config
**tests
**logs
**sqlite3


